/* .rank {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */
.ranks {
  display: flex;
  flex: wrap;
  /* border: 1px solid blue; */
}
/* .ranks {
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  border: 1px solid blue;
} */

.avgScore {
  float: center;
}
