.followers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
}

.followers {
  flex-basis: 18%;
  margin: 1em;
  padding: 1em;
  border: 1px solid blue;
}

.followerId {
  font-weight: 700;
}
